RewriteEngine On

# Send everything through cloaker
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

# Prevent directory listing
Options -Indexes

# Default charset
AddDefaultCharset UTF-8
